<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="Logo" class="logo" (click)="navigateToHome()" />
  </div>
  <div class="navbar-center">
    <button class="sessions-button" (click)="goToSessions()">Sessions</button>

    <ng-container *ngIf="managerConnected">
      <button class="create-session-button" (click)="goToCreateSession()">+ Session</button>
    </ng-container>
    <button class="deposited-games-button" (click)="goToDepositedGames()">Catalogue</button>

    <ng-container *ngIf="managerConnected">
      <button class="deposited-games-admin-button" (click)="goToDepositedGamesAdmin()">Jeux déposés</button>
      <button class="deposited-games-button" (click)="goToCreateDepositedGame()">+ Dépôt</button>
      <button class="game-description-button" (click)="goToCreateGameDescription()">+ Jeu</button>
      <button class="checkout-button" (click)="goToCheckout()">Encaissement</button>
      <button class="transactions-button" (click)="goToTransactions()">Transactions</button>
      <button class="treasury-button" (click)="goToTreasury()">Trésorerie</button>
    </ng-container>

    <!-- User Management Dropdown -->
    <ng-container *ngIf="managerConnected">
      <div class="dropdown">
        <button class="dropdown-button" (click)="toggleDropdown()">
          User Management <span>▸</span>
        </button>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <button (click)="goToClients()">Clients</button>
          <button (click)="goToSellers()">Vendeurs</button>
          <ng-container *ngIf="adminConnected">
            <button (click)="goToManagers()">Gestionnaires</button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="navbar-right">
    <a *ngIf="!managerConnected" (click)="navigateToLogin()" class="manager-link">Manager ?</a>
    <a *ngIf="managerConnected" (click)="confirmLogout()" class="logout-link">Déconnexion</a>
  </div>
</nav>


<!-- Modal de confirmation de déconnexion -->
<div *ngIf="showLogoutModal" class="modal-overlay">
  <div class="modal">
    <h3>Êtes-vous sûr(e) de vouloir vous déconnecter ?</h3>
    <div class="modal-buttons">
      <button class="confirm-button" (click)="logout()">Oui, déconnexion</button>
      <button class="cancel-button" (click)="cancelLogout()">Annuler</button>
    </div>
  </div>
</div>