<app-navbar></app-navbar>
<h2 class="page-title">Liste des jeux déposés</h2>

<div class="games-container">
  <div
    *ngFor="let game of depositedGames"
    class="game-card"
    (click)="goToDepositedGameDetail(game._id)"
  >
    <img class="game-photo" [src]="game.gameDescriptionId.photoURL" alt="Photo du jeu" />
    <div class="game-details">
      <h3 class="game-name">{{ game.gameDescriptionId.name }}</h3>
      <p class="game-publisher">Éditeur : {{ game.gameDescriptionId.publisher }}</p>
      <p class="game-price">{{ game.salePrice }}$</p>
    </div>
  </div>
</div>

<ng-template #noGames>
  <p class="no-games-message">Aucun jeu déposé trouvé.</p>
</ng-template>
