<app-navbar></app-navbar>

<!-- Message de succès -->
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<!-- Message d'erreur -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>


<div class="seller-detail-container">
  <div class="title-container">
    <button class="back-button" (click)="goBack()">&larr;</button>
    <h2 class="page-title">Détails du Vendeur</h2>
  </div>

  <div *ngIf="seller" class="seller-info-container">
    <div *ngIf="!isEditing">
      <p><strong>Nom :</strong> {{ seller.name }}</p>
      <p><strong>Email :</strong> {{ seller.email }}</p>
      <p><strong>Téléphone :</strong> {{ seller.phone }}</p>
      <p><strong>Montant dû :</strong> {{ seller.amountOwed}}€</p>

      <div class="button-container">
        <button class="edit-button" (click)="editSeller()">Modifier</button>
        <button class="delete-button" (click)="confirmDelete()">Supprimer</button>
        <button class="refund-button" (click)="refundSeller()" [disabled]="seller.amountOwed === 0">Rembourser</button>
      </div>
    </div>

    <div *ngIf="isEditing" class="edit-form">
      <div class="edit-field">
        <label>Nom</label>
        <input [(ngModel)]="seller.name" />
      </div>

      <div class="edit-field">
        <label>Email</label>
        <input [(ngModel)]="seller.email" />
      </div>

      <div class="edit-field">
        <label>Téléphone</label>
        <input [(ngModel)]="seller.phone" />
      </div>

      <div class="edit-field">
        <label>Montant dû</label>
        <input [(ngModel)]="seller.amountOwed" type="number" />
      </div>

      <div class="button-container-modif">
        <button class="save-button" (click)="saveChanges()">Enregistrer</button>
        <button class="cancel-button" (click)="cancelEdit()">Annuler</button>
      </div>
    </div>
  </div>

  <div class="action-buttons-container">
    <button (click)="showCategory('games')" [class.active]="selectedCategory === 'games'">Jeux déposés</button>
    <button (click)="showCategory('transactions')" [class.active]="selectedCategory === 'transactions'">Transactions</button>
    <button (click)="showCategory('refunds')" [class.active]="selectedCategory === 'refunds'">Remboursements</button>
    <!-- Message d'erreur si aucune session active -->
    <p *ngIf="!currentSession" class="error-message">
      Impossible de rembourser : aucune session active en cours.
    </p>
  </div>

  <div *ngIf="selectedCategory === 'games'" class="category-container">
    <h3>Jeux déposés</h3>
    <div *ngIf="depositedGames.length > 0; else noGames">
      <div *ngFor="let game of depositedGames" class="item-container">
        <p><strong>Nom :</strong> {{ game.gameDescriptionId?.name || 'Nom inconnu' }}</p>
        <p><strong>Prix :</strong> {{ game.salePrice}}€</p>
        <p><strong>Session :</strong> {{ game.sessionId?.name || 'Session inconnue' }}</p>
        <div class="picked-up-container">
          <button class="picked-up-button" (click)="openPickUpConfirmation(game)" [disabled]="game.pickedUp">
            {{ game.pickedUp ? "Récupéré" : "Récupéré ?" }}
          </button>
        </div>            
      </div>
    </div>
    <ng-template #noGames>
      <p>Aucun jeu déposé pour ce vendeur.</p>
    </ng-template>
  </div>



  <div *ngIf="selectedCategory === 'transactions'" class="category-container">
    <h3>Transactions</h3>
    <div *ngIf="transactions.length > 0; else noTransactions">
      <div *ngFor="let transaction of transactions" class="item-container">
        <p><strong>Jeu :</strong> {{ transaction.labelId?.gameDescriptionId?.name }}</p>
        <p><strong>Prix de vente :</strong> {{ transaction.labelId?.salePrice}}€</p>
        <p><strong>Client :</strong> {{ transaction.clientId?.name }}</p>
      </div>
    </div>
    <ng-template #noTransactions>
      <p class="no-data-message">Aucune transaction enregistrée pour ce vendeur.</p>
    </ng-template>
  </div>


  <div *ngIf="selectedCategory === 'refunds'" class="category-container">
    <h3>Remboursements</h3>
    <div *ngIf="refunds.length > 0; else noRefunds">
      <div *ngFor="let refund of refunds" class="item-container">
        <p><strong>Montant :</strong> {{ refund.refundAmount}}€</p>
        <p><strong>Session :</strong> {{ refund.sessionId?.name }}</p>
        <p><strong>Date :</strong> {{ refund.refundDate | date }}</p>
      </div>
    </div>
    <ng-template #noRefunds>
      <p class="no-data-message">Aucun remboursement enregistré pour ce vendeur.</p>
    </ng-template>
  </div>  
</div>

<!-- Modale de confirmation -->
<div *ngIf="showDeleteConfirmation" class="modal-overlay">
  <div class="modal">
    <h3>Confirmer la suppression</h3>
    <p>Êtes-vous sûr de vouloir supprimer <strong>{{ seller.name }}</strong> ?</p>

    <div class="modal-buttons">
      <button class="confirm-button" (click)="confirmDeleteSeller()">Oui, supprimer</button>
      <button class="cancel-delete-button" (click)="showDeleteConfirmation = false">Annuler</button>
    </div>
  </div>
</div>


<!-- Modale de confirmation pour récupérer un jeu -->
<div *ngIf="showPickUpConfirmation" class="modal-overlay">
  <div class="modal">
    <h3>Confirmer la récupération</h3>
    <p>Le vendeur est-il sur de vouloir récupérer le jeu <strong>{{ selectedGame?.gameDescriptionId?.name }}</strong> ?</p>

    <div class="modal-buttons">
      <button class="confirm-button" (click)="confirmPickUp()">Oui, récupérer</button>
      <button class="cancel-delete-button" (click)="showPickUpConfirmation = false">Annuler</button>
    </div>
  </div>
</div>


<div *ngIf="refundMessage" class="refund-message">
  {{ refundMessage }}
</div>
