<app-navbar></app-navbar> <!-- Navbar en haut de la page -->

<div class="game-detail-page">
  <!-- Section gauche avec le conteneur blanc pour l'image -->
  <div class="game-detail-left">
    <div class="image-container">
      <img
        [src]="depositedGame.gameDescriptionId.photoURL"
        alt="{{ depositedGame.gameDescriptionId.name }}"
        class="game-photo"
      />
    </div>
  </div>

  <!-- Section droite avec le texte directement sur le fond -->
  <div class="game-detail-right">
    <h1 class="game-title">
      {{ depositedGame.gameDescriptionId.name }} :
      {{ depositedGame.gameDescriptionId.publisher }}
    </h1>
    <p class="game-status">
      <span class="status-text" [class.in-stock]="!depositedGame.sold" [class.sold]="depositedGame.sold">
        {{ depositedGame.sold ? 'Vendu' : 'Pas vendu' }}
      </span> 
      <span class="black-symbol">&</span>  
      <span class="status-text" [class.for-sale]="depositedGame.forSale" [class.not-for-sale]="!depositedGame.forSale">
        {{ depositedGame.forSale ? 'À vendre' : 'Pas à vendre' }}
      </span>
    </p>
    <p class="game-description">
      {{ depositedGame.gameDescriptionId.description }}
    </p>

    <div class="game-info">
      <div class="game-info-item">
        <span class="label">Tranche d’âge : </span>
        <span class="value">{{ depositedGame.gameDescriptionId.ageRange }}</span>
      </div>
      <div class="game-info-item">
        <span class="label">Nombre de joueurs : </span>
        <span class="value">
          {{ depositedGame.gameDescriptionId.minPlayers }} -
          {{ depositedGame.gameDescriptionId.maxPlayers }}
        </span>
      </div>
    </div>

    <p class="seller-info">
      <strong>Vendeur :</strong> {{ depositedGame.sellerId.name }}
    </p>
    <p class="seller-info">
      <strong>Session :</strong>
      {{ depositedGame.sessionId.name }} ({{ sessionStatus }})
    </p>

    <h2 class="game-price">{{ depositedGame.salePrice }}€</h2>
  </div>
</div>
