/* Centrage de tout le contenu sur la page */
.home-connected {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  background-color: #f9f9f9;
  text-align: center; /* Centrage du texte */
  font-family: Arial, sans-serif;
  color: #333;
}

.home-connected h2 {
  font-size: 28px;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
}

.home-connected p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}

button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5a5a5a;
}
