/* Structure principale */
.page-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: transparent;
  }
  
  .left-container,
  .right-container {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 90%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 14px;
  }
  
  textarea {
    height: 80px;
    resize: none;
  }
  
  .button-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .submit-button {
    width: 200px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 151, 170, 0.61);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
  }
  
  .submit-button:hover {
    background: rgba(255, 49, 38, 0.8);
  }
  